/*  Start Header Area */
header#hdrPart {
    width: 100%;
    min-height: 80px;
    box-shadow: 0px 0px 3px 2px #ccc5c591;
}

.leftLogo {
    width: 31%;
    float: left;
}

nav.primaryNavigation {
    width: 68%;
    float: right;
}

nav.primaryNavigation>ul {
    float: right;
    padding-right: 14px;
}

nav.primaryNavigation>ul>li {
    display: inline-block;
}

nav.primaryNavigation>ul>li>a {
    display: block;
    text-decoration: none;
    line-height: 31px;
    padding: 15px 10px;
    font-size: 18px;
    font-family: sans-serif;
    color: #3c3a3a;
    font-weight: 600;
}

nav.primaryNavigation>ul>li>a:hover {
    color: #f9014d;
}


.leftLogo img {
    width: 86px;
    padding-top: 10px;
    padding-left: 20px;
}

nav.primaryNavigation>ul>li::after {
    content: "";
    width: 0%;
    height: 3px;
    background: red;
    display: block;
    transition: all 0.4s;
}

nav.primaryNavigation>ul>li:hover::after {
    width: 100%;
}

/* Header Area End */
/* who i'm section code below */
section#whoIm {
    width: 100%;
    overflow: hidden;
}

div#leftIm {
    width: 45%;
    float: left;
    padding-left: 25px;
}

.rightIm {
    width: 50%;
    float: right;
    margin: 15px 25px 20px 0px;
}

div#leftIm>p {
    padding: 50px 0px 10px 5px;
    line-height: 50px
}

div#leftIm>h2>span {
    color: #f8004e;
}

div#leftIm>h2 {
    font-size: 72px;
    line-height: 80px;
}

.rightIm img {
    height: 420px;
    float: right;
}

/*About me section code start */
section#aboutMe {
    overflow: hidden;
    width: 100%;
    border-top: 12px solid #f3f2f2;
}

.leftAbout {
    width: 45%;
    float: left;
    padding-left: 25px;
}

.rightAbout {
    margin-top: 10%;
    width: 40%;
    float: right;
}

.leftAbout>img {
    margin: 50px 50px 50px 0px;
    border-left: 12px solid #fa004c;
    border-top: 12px solid #fa004c;
    width: 726px;
}

.rightAbout>h3 {
    padding: 15px 0px;
}

.rightAbout>p {
    line-height: 26px;
    margin: 18px 0px;
}

button.Btn_About {
    background: #fa004c;
    color: white;
    font-size: 20px;
    padding: 10px;
    border: none;
    outline: none;
    cursor: pointer;
}

.ServiceHeading {
    clear: both;
    margin: auto;
    text-align: center;
    width: 515px;
}

.ServiceHeading h2 {
    font-size: 50px;
}

.ServiceHeading p {
    line-height: 25px;
}

.FullServicesPart {
    overflow: hidden;
    width: 100%;
    margin-top: 20px;
}

.servicePart {
    width: 30%;
    float: left;
    margin: auto;
    text-align: center;
    margin: 21px;
    box-shadow: 0px 0px 7px 2px #ededed;
    padding-bottom: 45px;
}

.servicePart>i {
    font-size: 55px;
    margin: 15px;
    background: #d4cdcd;
    height: 70px;
    width: 90px;
    border-radius: 50%;
    padding-top: 20px;
}

.servicePart>h3 {
    padding: 10px 0px;
}

/* Skill section code start */
section#skillSection{
    background: #f5f6f8;
    overflow: hidden;
    padding: 45px 20px;
}
.leftSectionSkills{
    width: 48%;
    float: left;
}
.RightSectionSkills{
    width: 48%;
    float: right;
}
.leftSectionSkills h2{
    color: #001149;
    font-size: 30px;
}
p.skp1{
    text-align: justify;
    padding: 20px 0px;
    line-height: 25px;
}
.leftSectionSkills p{
    line-height: 30px;
}
.hirebtn{
    border-radius: 22px;
    margin-top: 20px;
    background: #E62F37;
}
.mainProgress{
    height: 20px;
    background-color: #FFF;
    border-radius: 5px;
}
.MyProgressItem{
   padding: 8px 0px; 
}
.innerparogress{
    background: #009b3b;
    height: 20px;
    width: 99%;
    float: left;
    border-radius: 5px 1px 1px 5px;
}
.innerparogress.htmlProg {
    background: #009b3b;
    width: 97%;
}
.innerparogress.jqueryProg{
    background: #F96C47;
    width: 90%;
}
.innerparogress.WordPressProg{
    background: #1E8FFE;
    width: 75%;
}
.innerparogress.JoomlaProg{
    background: #FD9F2C;
    width: 87%;
}
.innerparogress.SEOProg{
    background: #F25BD2;
    width: 65%;
}
/* contact section start */
#FullContact{
    overflow: hidden;
    padding: 40px 18px;
}
.leftContact{
  width: 50%;
  float: left;  
}
.RightContact{
    width: 50%;
    float: right;
    margin: auto;
    text-align: center;
}
h2.HireText {
    font-size: 45px;
    font-weight: 900;
    padding: 7px 0px;
}

.leftContact>p {
    padding: 15px 0px;
    text-align: justify;
    font-size: 16px;
    padding-bottom: 30px;
}
.ContactForm>form>input {
    display: block;
    width: 82%;
    float: left;
    margin: 10px 0px;
    height: 30px;
    border: 2px solid #dddddd;
    outline: none;
    border-radius: 4px;
}
.ContactForm>form>textarea{
    display: block;
    width: 82%;
    float: left;
    margin: 10px 0px;
    border: 2px solid #dddddd;
    outline: none;
    border-radius: 4px;
}
form input.ContactBtn{
    background: #F8004e;
    color: white;
    width: 200px;
    height: 45px;
    font-size: 20px;
    border-radius: 7px;
    outline: none;
    cursor: pointer;
}
.RightContact>img {
    height: 588px;
    box-shadow: 0px 0px 48px 8px #b1aaaa99;
    border-radius: 3px;
    width: 72%;
}
/* footer section start */
footer {
    border-top: 1px solid #7e7e7e4d;
    padding: 8px 20px;
    font-size: 15px;
    color:#0303039d;
    background: #0000001f;
    font-family: arial;
    overflow: hidden;
}

.Leftfooter {
    width: 50%;
    float: left;
}

.Rightfooter {
    float: right;
}

.Rightfooter>i {
    margin-left: 25px;
}
i.fab{
    cursor:pointer;
}
i.fab.fa-twitter {
    color: #2f2fffe8;
}

i.fab.fa-pinterest {
    color: #d62c2ce5;
}

i.fab.fa-facebook-square {
    color: blue;
}

i.fab.fa-instagram {
    color: #e71f61;
}

i.fab.fa-skype {
    color: #3c3cf5da;
}
button.btn.skillbtn:hover {
    cursor: pointer;
}